body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.name-color{
    color:chartreuse;
}
section{
    display:flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
    padding-top: 5%;
}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(coral, lightgreen);
    padding: 10px 40px;
    color: black;
    font-weight: 700;
    border-radius: 20px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.second-part{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
